# Ignore generated / large experiment outputs
Lab1_Group13/figure/
Lab1_Group13/Python3/
Lab1_Group13/denoised_results
Python3/

*.zip
*.png
*.jpg
*.npy
*.tiff
*.ply
*.npz

tmp/
tmp*
__pycache__/
*.pyc
*.csv